/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2018, 11:26:18 AM
    Author     : hp
*/

.containerwrapper
{ width: 100%;
background-color:#105BCF;
 }

#header_wrapper
{ width:100%; background-color: #105BCF;}

.border_box{
width:196px;
height:auto;
text-align:center;
border:1px #6da6b1 solid;
}
.banner_adds{
width:194px;
text-align:center;
padding:10px 0 10px 0;
}pr

/*center content--------------------------*/
.center_content{
width:585px;
float: right;
padding:5px 10px;
}
.center_title_bar{
width:520px;
height:33px;
float:left;
margin:0 0 0 12px;
_margin:0 0 0 6px;
line-height:40px;
font-size:12px;
color:#847676;
font-weight:bold;
background: url(../images/other/bar_bg.gif)no-repeat center;
}


/*----------------------right content--------------*/
.right_content{
width:196px;
float:left;
padding:5px 0 0 0;
}
/*---------prod_box----------*/
.prod_box{
width:173px;
height:auto;
float:left;
padding:10px 10px 10px 11px;
}
.top_prod_box{
width:173px;height:12px;background:url(../images/other/product_box_top.gif) no-repeat center bottom;float:left; padding:0px; margin:0px;
}
.bottom_prod_box{
width:173px;height:10px;background:url(../images/other/product_box_bottom.gif) no-repeat center top;float:left;padding:0px; margin:0px;
}
.center_prod_box{
width:173px;height: auto;background:url(../images/other/product_box_center.gif) repeat-y;float:left; text-align:center;padding:0px; margin:0px;
}
.prod_details_tab{
width:173px;
height:31px;
float:left;
background:url(../images/other/products_details_bg.gif) no-repeat center;
margin:3px 0 0 0;
}
contact_textarea
/*---------prod_box_big----------*/
.prod_box_big{
width:554px;
height:auto;
float:left;
padding:10px 10px 10px 15px;
}
.top_prod_box_big{
width:554px;height:12px;background:url(../images/other/details_box_top.gif) no-repeat center bottom;float:left; padding:0px; margin:0px;
}
.bottom_prod_box_big{
width:554px;height:12px;background:url(../images/other/details_box_bottom.gif) no-repeat center top;float:left;padding:0px; margin:0px;
}
.center_prod_box_big{
width:554px;height: auto;background:url(../images/other/details_box_center.gif) repeat-y;float:left; text-align:center;padding:0px; margin:0px;
}
/*---------------contact_form------------------*/
.contact_form{
width:355px;
float:left;
padding:0px 0 0 75px;
}
.form_row{
width:335px;

clear:both;
padding:10px 0 10px 0;
_padding:5px 0 5px 0;
color:#a53d17;
}
label.contact{
width:75px;
float:left;
font-size:12px;
text-align:right;
padding:4px 5px 0 0;
color: #333333;
}
input.contact_input{
width:253px;
height:18px;
background-color:#fff;
color:#999999;
border:1px #DFDFDF solid;
float:left;
}
textarea.contact_textarea{
width:253px;
height:50px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #999999;
background-color:#fff;
border:1px #DFDFDF solid;
float:left;
}
